NR-Create-CSV.json
[{"id":"19d051b0.da26ce","type":"debug","z":"a1046c79.80cc3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":830,"y":340,"wires":[]},{"id":"67ff367f.8f0548","type":"mqtt in","z":"a1046c79.80cc3","name":"","topic":"#","qos":"2","datatype":"auto","broker":"9edb5f27.e66a4","x":150,"y":260,"wires":[["2de6e98.1bdc216"]]},{"id":"2de6e98.1bdc216","type":"join","z":"a1046c79.80cc3","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":260,"wires":[["2da96110.83463e"]]},{"id":"2da96110.83463e","type":"function","z":"a1046c79.80cc3","name":"Order","func":"msg.payload = msg.payload.heart + \",\" + msg.payload.blood + \",\" + msg.payload.breath + \",\" + msg.payload.mood;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["b82c2d63.8db98"]]},{"id":"903b8719.8dbd18","type":"file","z":"a1046c79.80cc3","name":"","filename":"data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":260,"wires":[["b65b06c6.993888"]]},{"id":"fb150658.db5858","type":"gate","z":"a1046c79.80cc3","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":830,"y":260,"wires":[["903b8719.8dbd18"]]},{"id":"98d5ef77.334ed","type":"inject","z":"a1046c79.80cc3","name":"","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":180,"wires":[["fb150658.db5858"]]},{"id":"b82c2d63.8db98","type":"change","z":"a1046c79.80cc3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"/","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["fb150658.db5858","19d051b0.da26ce"]]},{"id":"b65b06c6.993888","type":"debug","z":"a1046c79.80cc3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1130,"y":260,"wires":[]},{"id":"e6198a5a.75cfe8","type":"inject","z":"a1046c79.80cc3","name":"Titles","topic":"","payload":"heart,blood1,blood2,breath,mood","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":180,"wires":[["903b8719.8dbd18"]]},{"id":"9edb5f27.e66a4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]