NR-Simulate-Data.json
[{"id":"34ac975f.6f6488","type":"debug","z":"b4138c58.cf0c9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":39,"wires":[]},{"id":"abf39e33.2ba98","type":"inject","z":"b4138c58.cf0c9","name":"","topic":"test","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":39,"wires":[["439c0879.2043a8"]]},{"id":"439c0879.2043a8","type":"mqtt out","z":"b4138c58.cf0c9","name":"","topic":"","qos":"","retain":"","broker":"9edb5f27.e66a4","x":990,"y":319,"wires":[]},{"id":"ccb241ad.fecc4","type":"inject","z":"b4138c58.cf0c9","name":"","topic":"mood","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":99,"wires":[["439c0879.2043a8"]]},{"id":"ffdcbee.28a544","type":"inject","z":"b4138c58.cf0c9","name":"","topic":"mood","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":139,"wires":[["439c0879.2043a8"]]},{"id":"5ab610a8.9f138","type":"random","z":"b4138c58.cf0c9","name":"","low":"12","high":"15","inte":"true","property":"payload","x":380,"y":239,"wires":[["3b8ce78b.8ada68"]]},{"id":"f08f1983.d58f88","type":"random","z":"b4138c58.cf0c9","name":"","low":"100","high":"120","inte":"true","property":"payload","x":380,"y":199,"wires":[["f1b659b3.c753e8"]]},{"id":"949d1223.470da","type":"random","z":"b4138c58.cf0c9","name":"","low":"60","high":"65","inte":"true","property":"payload","x":380,"y":159,"wires":[["9d9dcad8.853638"]]},{"id":"f1b659b3.c753e8","type":"function","z":"b4138c58.cf0c9","name":"blood","func":"msg.payload = msg.payload + \"/80\";\nmsg.topic = \"blood\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":199,"wires":[["3b90c638.9bd4ca"]]},{"id":"3b8ce78b.8ada68","type":"function","z":"b4138c58.cf0c9","name":"breath","func":"msg.topic = \"breath\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":239,"wires":[["3b90c638.9bd4ca"]]},{"id":"9d9dcad8.853638","type":"function","z":"b4138c58.cf0c9","name":"heart","func":"msg.topic = \"heart\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":159,"wires":[["3b90c638.9bd4ca"]]},{"id":"f90a7bf2.310208","type":"inject","z":"b4138c58.cf0c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":399,"wires":[["949d1223.470da","f08f1983.d58f88","5ab610a8.9f138","f3612356.36ddd","f027b625.11b5e8","a853a610.1dc508","ba9fb022.5c6ac","981c2b71.88c648","12fb2835.247988","c402859c.b96e58","5df9ad16.a2de34","6c11a9a3.a58f78"]]},{"id":"3b90c638.9bd4ca","type":"gate","z":"b4138c58.cf0c9","name":"Normal","controlTopic":"control","defaultState":"open","openCmd":"Normal","closeCmd":"close","toggleCmd":"","defaultCmd":"","persist":false,"x":760,"y":239,"wires":[["439c0879.2043a8"]]},{"id":"a853a610.1dc508","type":"random","z":"b4138c58.cf0c9","name":"","low":"15","high":"20","inte":"true","property":"payload","x":380,"y":519,"wires":[["30301e3.35c06e2"]]},{"id":"f027b625.11b5e8","type":"random","z":"b4138c58.cf0c9","name":"","low":"110","high":"130","inte":"true","property":"payload","x":380,"y":479,"wires":[["17e3a05.6fdf96"]]},{"id":"f3612356.36ddd","type":"random","z":"b4138c58.cf0c9","name":"","low":"70","high":"75","inte":"true","property":"payload","x":380,"y":439,"wires":[["d970a3b6.41c23"]]},{"id":"17e3a05.6fdf96","type":"function","z":"b4138c58.cf0c9","name":"blood","func":"msg.payload = msg.payload + \"/80\";\nmsg.topic = \"blood\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":479,"wires":[["8d8e8020.749a4"]]},{"id":"30301e3.35c06e2","type":"function","z":"b4138c58.cf0c9","name":"breath","func":"msg.topic = \"breath\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":519,"wires":[["8d8e8020.749a4"]]},{"id":"d970a3b6.41c23","type":"function","z":"b4138c58.cf0c9","name":"heart","func":"msg.topic = \"heart\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":439,"wires":[["8d8e8020.749a4"]]},{"id":"8d8e8020.749a4","type":"gate","z":"b4138c58.cf0c9","name":"Stressed","controlTopic":"control","defaultState":"closed","openCmd":"Stressed","closeCmd":"close","toggleCmd":"","defaultCmd":"","persist":false,"x":760,"y":479,"wires":[["439c0879.2043a8"]]},{"id":"b49f389e.4aedf8","type":"inject","z":"b4138c58.cf0c9","name":"","topic":"control","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":299,"wires":[["9d8c5ac.368b0a8"]]},{"id":"ba9fb022.5c6ac","type":"function","z":"b4138c58.cf0c9","name":"test:Normal","func":"msg.payload = 0;\nmsg.topic = \"mood\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":99,"wires":[["3b90c638.9bd4ca"]]},{"id":"981c2b71.88c648","type":"function","z":"b4138c58.cf0c9","name":"test:Stressed","func":"msg.payload = 1;\nmsg.topic = \"mood\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":579,"wires":[["8d8e8020.749a4"]]},{"id":"12fb2835.247988","type":"random","z":"b4138c58.cf0c9","name":"","low":"40","high":"50","inte":"true","property":"payload","x":380,"y":719,"wires":[["b273ff2.ee3b5"]]},{"id":"c402859c.b96e58","type":"random","z":"b4138c58.cf0c9","name":"","low":"150","high":"170","inte":"true","property":"payload","x":380,"y":679,"wires":[["ae225a70.0459b8"]]},{"id":"5df9ad16.a2de34","type":"random","z":"b4138c58.cf0c9","name":"","low":"90","high":"120","inte":"true","property":"payload","x":380,"y":639,"wires":[["b6be1827.bfa058"]]},{"id":"ae225a70.0459b8","type":"function","z":"b4138c58.cf0c9","name":"blood","func":"msg.payload = msg.payload + \"/80\";\nmsg.topic = \"blood\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":679,"wires":[["c099967f.a0b3f8"]]},{"id":"b273ff2.ee3b5","type":"function","z":"b4138c58.cf0c9","name":"breath","func":"msg.topic = \"breath\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":719,"wires":[["c099967f.a0b3f8"]]},{"id":"b6be1827.bfa058","type":"function","z":"b4138c58.cf0c9","name":"heart","func":"msg.topic = \"heart\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":639,"wires":[["c099967f.a0b3f8"]]},{"id":"6c11a9a3.a58f78","type":"function","z":"b4138c58.cf0c9","name":"test:Exercising","func":"msg.payload = 2;\nmsg.topic = \"mood\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":779,"wires":[["c099967f.a0b3f8"]]},{"id":"c099967f.a0b3f8","type":"gate","z":"b4138c58.cf0c9","name":"Exercising","controlTopic":"control","defaultState":"closed","openCmd":"Exercising","closeCmd":"close","toggleCmd":"","defaultCmd":"","persist":false,"x":770,"y":639,"wires":[["439c0879.2043a8"]]},{"id":"21d31fc0.d7a71","type":"inject","z":"b4138c58.cf0c9","name":"","topic":"control","payload":"Exercising","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":379,"wires":[["9d8c5ac.368b0a8"]]},{"id":"99dffae7.4509c8","type":"inject","z":"b4138c58.cf0c9","name":"","topic":"control","payload":"Stressed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":339,"wires":[["9d8c5ac.368b0a8"]]},{"id":"9d8c5ac.368b0a8","type":"trigger","z":"b4138c58.cf0c9","op1":"close","op2":"","op1type":"str","op2type":"pay","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Toggle","x":610,"y":339,"wires":[["3b90c638.9bd4ca","8d8e8020.749a4","c099967f.a0b3f8"]]},{"id":"39b796aa.1f6cca","type":"mosca in","z":"b4138c58.cf0c9","mqtt_port":"1883","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":170,"y":39,"wires":[["34ac975f.6f6488"]]},{"id":"9edb5f27.e66a4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]